body {
    background: #E9E9E9;
}
.topbar-brand {
    background: url("../img/logo.png") no-repeat 0 -10px;
    height: 50px;
    width: 200px;
    margin-top: 18px;
    text-indent: -100px;
    overflow: hidden;
}
.nancuo {
    background-color: #384047;
    background-image: url(//res.jisuanke.com/img/mid.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.nancuo h3 {
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
    margin: 15px 0;
}
.nancuo p {
    font-size: 16px;
    color: #fff;
}
.topbar-info {
    margin: 20px 20px 20px 0;
}
.function li {
    padding: 0 10px;
    margin-bottom: 40px;
    text-align: center;
}
.function li img {
    width: 80%;
}
